/*
  Icon Font: popculture
*/

@font-face {
  font-family: "popculture";
  src: url("./popculture_d8587bf43f9857e9087b17ada39587d3.eot");
  src: url("./popculture_d8587bf43f9857e9087b17ada39587d3.eot?#iefix") format("embedded-opentype"),
       url("./popculture_d8587bf43f9857e9087b17ada39587d3.woff") format("woff"),
       url("./popculture_d8587bf43f9857e9087b17ada39587d3.ttf") format("truetype"),
       url("./popculture_d8587bf43f9857e9087b17ada39587d3.svg#popculture") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "popculture";
    src: url("./popculture_d8587bf43f9857e9087b17ada39587d3.svg#popculture") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-tv-drwho-tardis:before {
  display: inline-block;
  font-family: "popculture";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-tv-drwho-tardis:before { content: "\f1eb"; }
