/*
  Icon Font: pop
*/

@font-face {
  font-family: "pop";
  src: url("./pop.eot");
  src: url("./pop.eot?#iefix") format("embedded-opentype"),
       url("./pop.woff") format("woff"),
       url("./pop.ttf") format("truetype"),
       url("./pop.svg#pop") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "pop";
    src: url("./pop.svg#pop") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-comic-batman:before,
.icon-movie-clockwork-orange:before,
.icon-movie-clockwork-scream:before,
.icon-movie-paranorman:before,
.icon-tv-drwho-dalek:before,
.icon-tv-drwho-tardis:before {
  display: inline-block;
  font-family: "pop";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-comic-batman:before { content: "\f233"; }
.icon-movie-clockwork-orange:before { content: "\f22e"; }
.icon-movie-clockwork-scream:before { content: "\f22f"; }
.icon-movie-paranorman:before { content: "\f230"; }
.icon-tv-drwho-dalek:before { content: "\f231"; }
.icon-tv-drwho-tardis:before { content: "\f232"; }
