{% extends "base.html" %}

{% block content %}
    <div class="col-md-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus vulputate malesuada. Praesent malesuada viverra nunc eget cursus. Vestibulum condimentum cursus lectus, at suscipit risus sollicitudin viverra. Etiam pharetra nulla nec enim rutrum porttitor nec ut tellus. Vestibulum scelerisque lectus quis blandit condimentum. Sed nulla nisl, vulputate nec lorem sed, tristique cursus ligula. Donec facilisis sed magna non fermentum. Vestibulum blandit augue sem, vel cursus urna porta et. Nam hendrerit blandit justo, nec dignissim nunc ultrices a. Integer eu consectetur justo.</p>
    </div>
{% endblock content %}