/*
  Icon Font: rtodd
*/

@font-face {
  font-family: "rtodd";
  src: url("./rtodd.eot");
  src: url("./rtodd.eot?#iefix") format("embedded-opentype"),
       url("./rtodd.woff") format("woff"),
       url("./rtodd.ttf") format("truetype"),
       url("./rtodd.svg#rtodd") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "rtodd";
    src: url("./rtodd.svg#rtodd") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-art-illustration:before,
.icon-art-photography:before,
.icon-food-wine:before,
.icon-game-wii:before,
.icon-game-xbox:before,
.icon-health-scale:before,
.icon-health-stopwatch:before,
.icon-health-test-tube:before,
.icon-health-weight-training:before,
.icon-music-treble-clef:before,
.icon-politics-amnesty:before,
.icon-politics-democrat:before,
.icon-politics-republican:before,
.icon-pop-culture-clockwork-orange:before,
.icon-pop-culture-dc-batman:before,
.icon-pop-culture-dc-the-wasp:before,
.icon-pop-culture-drwho-dalek:before,
.icon-pop-culture-drwho-tardis:before,
.icon-pop-culture-paranorman:before,
.icon-pop-culture-scream:before,
.icon-pop-culture-simpsons-bart:before,
.icon-profession-artist:before,
.icon-profession-athlete:before,
.icon-profession-librarian:before,
.icon-profession-singer:before,
.icon-science-atom:before,
.icon-social-hrc:before,
.icon-social-opposite-sex:before,
.icon-social-same-sex-1:before,
.icon-social-same-sex-2:before,
.icon-social-youtube:before,
.icon-tech-architect:before,
.icon-tech-audio:before,
.icon-tech-bluetooth:before,
.icon-tech-bug:before,
.icon-tech-chat:before,
.icon-tech-clipboard:before,
.icon-tech-cloud-download:before,
.icon-tech-css:before,
.icon-tech-device-rotation:before,
.icon-tech-diagnostic:before,
.icon-tech-directory:before,
.icon-tech-external-drive:before,
.icon-tech-geolocation:before,
.icon-tech-graph:before,
.icon-tech-html:before,
.icon-tech-images:before,
.icon-tech-layers:before,
.icon-tech-link:before,
.icon-tech-mobile:before,
.icon-tech-mobile-player:before,
.icon-tech-network:before,
.icon-tech-notification:before,
.icon-tech-performance:before,
.icon-tech-remote-key:before,
.icon-tech-script:before,
.icon-tech-search:before,
.icon-tech-services:before,
.icon-tech-storage:before,
.icon-tech-svg:before,
.icon-tech-target:before,
.icon-tech-touch:before,
.icon-tech-under-construction-1:before,
.icon-tech-under-construction-2:before,
.icon-tech-wireless:before,
.icon-transportation-london-tube:before,
.icon-transportation-ny-subway:before,
.icon-weather-partly-cloudy:before {
  display: inline-block;
  font-family: "rtodd";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-art-illustration:before { content: "\f312"; }
.icon-art-photography:before { content: "\f313"; }
.icon-food-wine:before { content: "\f314"; }
.icon-game-wii:before { content: "\f315"; }
.icon-game-xbox:before { content: "\f316"; }
.icon-health-scale:before { content: "\f317"; }
.icon-health-stopwatch:before { content: "\f318"; }
.icon-health-test-tube:before { content: "\f319"; }
.icon-health-weight-training:before { content: "\f31a"; }
.icon-music-treble-clef:before { content: "\f31b"; }
.icon-politics-amnesty:before { content: "\f31c"; }
.icon-politics-democrat:before { content: "\f31d"; }
.icon-politics-republican:before { content: "\f31e"; }
.icon-pop-culture-clockwork-orange:before { content: "\f31f"; }
.icon-pop-culture-dc-batman:before { content: "\f320"; }
.icon-pop-culture-dc-the-wasp:before { content: "\f321"; }
.icon-pop-culture-drwho-dalek:before { content: "\f322"; }
.icon-pop-culture-drwho-tardis:before { content: "\f323"; }
.icon-pop-culture-paranorman:before { content: "\f324"; }
.icon-pop-culture-scream:before { content: "\f325"; }
.icon-pop-culture-simpsons-bart:before { content: "\f326"; }
.icon-profession-artist:before { content: "\f327"; }
.icon-profession-athlete:before { content: "\f328"; }
.icon-profession-librarian:before { content: "\f329"; }
.icon-profession-singer:before { content: "\f32a"; }
.icon-science-atom:before { content: "\f32b"; }
.icon-social-hrc:before { content: "\f32c"; }
.icon-social-opposite-sex:before { content: "\f32d"; }
.icon-social-same-sex-1:before { content: "\f32e"; }
.icon-social-same-sex-2:before { content: "\f32f"; }
.icon-social-youtube:before { content: "\f330"; }
.icon-tech-architect:before { content: "\f331"; }
.icon-tech-audio:before { content: "\f332"; }
.icon-tech-bluetooth:before { content: "\f333"; }
.icon-tech-bug:before { content: "\f334"; }
.icon-tech-chat:before { content: "\f335"; }
.icon-tech-clipboard:before { content: "\f336"; }
.icon-tech-cloud-download:before { content: "\f337"; }
.icon-tech-css:before { content: "\f338"; }
.icon-tech-device-rotation:before { content: "\f339"; }
.icon-tech-diagnostic:before { content: "\f33a"; }
.icon-tech-directory:before { content: "\f33b"; }
.icon-tech-external-drive:before { content: "\f33c"; }
.icon-tech-geolocation:before { content: "\f33d"; }
.icon-tech-graph:before { content: "\f33e"; }
.icon-tech-html:before { content: "\f33f"; }
.icon-tech-images:before { content: "\f340"; }
.icon-tech-layers:before { content: "\f341"; }
.icon-tech-link:before { content: "\f342"; }
.icon-tech-mobile:before { content: "\f343"; }
.icon-tech-mobile-player:before { content: "\f344"; }
.icon-tech-network:before { content: "\f345"; }
.icon-tech-notification:before { content: "\f346"; }
.icon-tech-performance:before { content: "\f347"; }
.icon-tech-remote-key:before { content: "\f348"; }
.icon-tech-script:before { content: "\f349"; }
.icon-tech-search:before { content: "\f34a"; }
.icon-tech-services:before { content: "\f34b"; }
.icon-tech-storage:before { content: "\f34c"; }
.icon-tech-svg:before { content: "\f34d"; }
.icon-tech-target:before { content: "\f34e"; }
.icon-tech-touch:before { content: "\f34f"; }
.icon-tech-under-construction-1:before { content: "\f350"; }
.icon-tech-under-construction-2:before { content: "\f351"; }
.icon-tech-wireless:before { content: "\f352"; }
.icon-transportation-london-tube:before { content: "\f353"; }
.icon-transportation-ny-subway:before { content: "\f354"; }
.icon-weather-partly-cloudy:before { content: "\f355"; }
